.container {
  display: flex;
  background-color: #4395d6;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.presentation {
  width: 65vw;
  height: 100%;
  background-color: #2b3034;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 90px;
  color: #4395d6;
  text-align: center;
  margin: 150px 0;
}

.sub-title {
  font-size: 30px;
  color: #4395d6;
  text-align: center;
  line-height: 40px;
  
}

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 190px;
  flex-shrink: 0;
}

.button {
  width: 355px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: #2b3034;
  background-color: #f5ad27;
  cursor: pointer;
}

.signUpSwitch {
  text-decoration: underline;
  cursor: pointer;
  margin: 10px 0 50px 0;
  color: white;
}

@media (max-width: 450px) {
  .button {
    width: 335px;
  }
}